{{check()}}
<div class="row">
    <div class="app">
        <p>
            app-component works!
        </p>
        <button (click)="click()">Click</button>
        <button (click)="clickCD()">ClickCD</button> 
        <button (click)="checkTick()">ClickTick</button>
        <div *ngFor="let fire of fires">
            <h6 class="fireH">{{fire}}</h6>
        </div>
        {{allEl.x}}

        <div class="row">
            <div>
                <div class="row">
                    <app-child-L1  [inputAllElNumber]="allElNumber"  [inputElL1]="allEl" ></app-child-L1>
                </div>
        
            </div>
        
            <div>
                <div class="row">
                    <app-child-R1 [inputElR1]="allEl" ></app-child-R1>
                </div>
        
            </div>
        
        </div>
        
        

    </div>

</div>


