<div class="row">
    <div class="app">
        <p>
            app-component works!
        </p>
        <button>Click</button>
    </div>
  
</div>


<div class="row">
    <div>
        <div class="row">
            <app-child-L1></app-child-L1>
        </div>
        <div class="row">
            <app-child-L1-L1></app-child-L1-L1>
            <app-child-L1-R1></app-child-L1-R1>
        </div>
    </div>

    <div>
        <div class="row">
            <app-child-R1></app-child-R1>
        </div>
        <div class="row">
            <app-child-R1-L1></app-child-R1-L1>
            <app-child-R1-R1></app-child-R1-R1>
        </div>
    </div>

</div>